.btn_grey{
  background-color: #f6f9fc!important;
  border-color: #f6f9fc!important;
}

.btn_rounded_left{
  border-radius: 2.25rem!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.btn_rounded_right{
  border-radius: 2.25rem!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}