.cards__products {
  .icons__products{
    // display: none;
    opacity: 0;
  }
  &:hover{
    .icons__products{
      height: 68px;
      // display: block;
      opacity: 1;
      transition: opacity 0.45s;
    }
  }
  .description__product{
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}