// Your variable overrides
.bg-primary-100 {
  background-color: $primary-100 !important;
}

.w-30 {
  width: 30% !important;
}

.minw_45px {
  min-width: 45px;
}

.spinner-border-xs {
  width: 0.7rem !important;
  height: 0.7rem !important;
  border-width: 0.2em !important;
}

.categories {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $grey;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary !important;
  }
}

.categories-filter {
  max-height: 214px;
  overflow-y: scroll;
}

.truncate-500 {
  p {
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
