// Your variable overrides
.bg-primary-100 {
  background-color: $primary-100 !important;
}

.w-30 {
  width: 30% !important;
}

.minw_45px {
  min-width: 45px;
}

.spinner-border-xs {
  width: 0.7rem !important;
  height: 0.7rem !important;
  border-width: 0.2em !important;
}
