.img_products_search {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  object-fit: contain;
}

.img__products {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}

.img__products_2 {
  margin-bottom: 16px;
  max-width: 100%;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.img_product_main {
  max-width: 100%;
  object-fit: contain;
  width: 400px;
  height: 400px;
}

.img_carts_items {
  max-width: 100%;
  object-fit: contain;
}

.img-cover {
  object-fit: cover;
}
